[submodule "FastCRC"]
	path = lib/FastCRC
	url = https://github.com/flupes/FastCRC.git
[submodule "SPIMemory"]
	path = lib/SPIMemory
	url = https://github.com/flupes/SPIMemory.git
[submodule "lib/BME280_driver"]
	path = lib/BME280_driver
	url = https://github.com/flupes/BME280_driver.git
[submodule "lib/RTClib"]
	path = lib/RTClib
	url = https://github.com/flupes/RTClib.git
[submodule "lib/RTCZero"]
	path = lib/RTCZero
	url = https://github.com/arduino-libraries/RTCZero.git
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/flupes/Adafruit-GFX-Library.git
