[submodule "FastCRC"]
	path = lib/FastCRC
	url = https://github.com/flupes/FastCRC.git
[submodule "SPIMemory"]
	path = lib/SPIMemory
	url = https://github.com/flupes/SPIMemory.git
[submodule "lib/BME280_driver"]
	path = lib/BME280_driver
	url = https://github.com/flupes/BME280_driver.git
[submodule "lib/RTClib"]
	path = lib/RTClib
	url = https://github.com/flupes/RTClib.git
